.home {
  padding-top: 10px;
  h1 {
    font-size: 40px;
  }
  .fc {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid rgb(118, 9, 9);
    padding: 20px;
    gap: 40px;
    margin: 0 auto;
    width: 60%;
  }
}
